<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include Globals.wxi ?>
	
	<!-- set source path -->

	<?if $(var.Configuration) = "Release" ?>
	
		<?define SourcePath="..\$(var.ProductName)\bin\Release\"?>
		<?define ServiceSourcePath="..\Service\bin\Release\"?>
	<?elseif $(var.Configuration) = "Debug" ?>
	
		<?define SourcePath="..\$(var.ProductName)\bin\Debug\"?>
		<?define ServiceSourcePath="..\Service\bin\Debug\"?>
	<?endif?>
	
	<!-- set our ProgramFilesFolder depending on x64 or x86 build

		http://www.mail-archive.com/wix-users@lists.sourceforge.net/msg01750.html
		http://n2.nabble.com/using-a-variable-for-Component-Win64-attribute-value-still-generating-generic-warning-not-uniquely-sd-td1515820.html
	!-->                    

	<?if $(var.Platform) = "x64" ?>
	
		<?define ProgramFilesFolderHelper="ProgramFiles64Folder"?>
	<?elseif $(var.Platform) = "x86" ?>

		<?define ProgramFilesFolderHelper="ProgramFilesFolder"?>
	<?endif?>
	
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			
			<?if $(var.Platform) = "x64" ?>

				<?define VC80_CRT_SourcePath="..\3rd Party\Microsoft\VC80_CRT\bin\x64\"?>

				<!-- merge modules which install assemblies to the GAC make a major upgrade virtually impossible.
                      see also: http://support.microsoft.com/kb/905238
			
				<Merge Id="CRT" Language="0" SourceFile="$(var.VC80_CRT_SourcePath)Microsoft_VC80_CRT_x86_x64.msm" DiskId="1" />
				-->
			
				<!-- the general recommendation is to not include policy MSMs when redistributing the VC runtime files
		
					<Merge Id="POLICY_CRT" Language="0" SourceFile="$(var.VC80_CRT_SourcePath)policy_8_0_Microsoft_VC80_CRT_x86_x64.msm" DiskId="1" />
				-->
			<?elseif $(var.Platform) = "x86"?>

				<?define VC80_CRT_SourcePath="..\3rd Party\Microsoft\VC80_CRT\bin\x86\"?>
			
				<!-- merge modules which install assemblies to the GAC make a major upgrade virtually impossible.
                      see also: http://support.microsoft.com/kb/905238

				<Merge Id="CRT" Language="0" SourceFile="$(var.VC80_CRT_SourcePath)Microsoft_VC80_CRT_x86.msm" DiskId="1" />
				-->
			
				<!-- the general recommendation is to not include policy MSMs when redistributing the VC runtime files
		
					<Merge Id="POLICY_CRT" Language="0" SourceFile="$(var.VC80_CRT_SourcePath)policy_8_0_Microsoft_VC80_CRT_x86.msm" DiskId="1" />
				-->
			<?endif?>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
			</Directory>

			<Directory Id="CommonAppDataFolder">
				<Directory Id="ApplicationCommonAppDataFolder" Name="$(var.ProductName)">
					<Directory Id="ProfilesFolder" Name="profiles" />
				</Directory>
			</Directory>

			<Directory Id="$(var.ProgramFilesFolderHelper)" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="$(var.ProductName)">
					<Directory Id="lang" Name="lang">
						<Component Id="Ca_esXml" Guid="13D07F9B-373F-4C3E-88BD-9DBCB88C99F1" DiskId="1">
							<File Id="ca_es.xml" Name="ca-es.xml" Source="$(var.SourcePath)lang\ca-es.xml" KeyPath="yes" />
						</Component>
						<Component Id="Cs_czXml" Guid="5BA374D8-2310-4C00-BAD4-867AD4D50D4D" DiskId="1">
							<File Id="cs_cz.xml" Name="cs-cz.xml" Source="$(var.SourcePath)lang\cs-cz.xml" KeyPath="yes" />
						</Component>
						<Component Id="De_deXml" Guid="B1C2EC76-45FD-421D-A09B-77415E7C54D3" DiskId="1">
							<File Id="de_de.xml" Name="de-de.xml" Source="$(var.SourcePath)lang\de-de.xml" KeyPath="yes" />
						</Component>
						<Component Id="En_usXml" Guid="CAE8771F-9F30-482B-9B12-E78A50B687FD" DiskId="1">
							<File Id="en_us.xml" Name="en-us.xml" Source="$(var.SourcePath)lang\en-us.xml" KeyPath="yes" />
						</Component>
						<Component Id="Es_arXml" Guid="99496325-0785-4335-A690-0CC880CCA2B4" DiskId="1">
							<File Id="es_ar.xml" Name="es-ar.xml" Source="$(var.SourcePath)lang\es-ar.xml" KeyPath="yes" />
						</Component>
						<Component Id="Fr_frXml" Guid="BB213352-AF52-40CF-B766-70D2FA687514" DiskId="1">
							<File Id="fr_fr.xml" Name="fr-fr.xml" Source="$(var.SourcePath)lang\fr-fr.xml" KeyPath="yes" />
						</Component>
						<Component Id="HeXml" Guid="01856B36-F42F-47AE-9C0B-4B57C5EDEC10" DiskId="1">
							<File Id="he_il.xml" Name="he-il.xml" Source="$(var.SourcePath)lang\he-il.xml" KeyPath="yes" />
						</Component>
						<Component Id="Hu_huXml" Guid="DDBD15D9-70E7-4C70-911A-50E14D7A1A77" DiskId="1">
							<File Id="hu_hu.xml" Name="hu-hu.xml" Source="$(var.SourcePath)lang\hu-hu.xml" KeyPath="yes" />
						</Component>
						<Component Id="It_itXml" Guid="104713C2-A625-4DF7-B118-9273D31AB35A" DiskId="1">
							<File Id="it_it.xml" Name="it-it.xml" Source="$(var.SourcePath)lang\it-it.xml" KeyPath="yes" />
						</Component>
						<Component Id="Nl_nlXml" Guid="1216D4D8-4649-4152-86B6-913BB2EE77D0" DiskId="1">
							<File Id="nl_nl.xml" Name="nl-nl.xml" Source="$(var.SourcePath)lang\nl-nl.xml" KeyPath="yes" />
						</Component>
						<Component Id="Pl_plXml" Guid="8A7BA970-587F-4FAC-A5EF-E204520F0D53" DiskId="1">
							<File Id="pl_pl.xml" Name="pl-pl.xml" Source="$(var.SourcePath)lang\pl-pl.xml" KeyPath="yes" />
						</Component>
						<Component Id="Pt_brXml" Guid="9704684D-355F-4159-B333-2AE8D7CE6472" DiskId="1">
							<File Id="pt_br.xml" Name="pt-br.xml" Source="$(var.SourcePath)lang\pt-br.xml" KeyPath="yes" />
						</Component>
						<Component Id="Ru_ruXml" Guid="F8C61338-4C29-413E-9F8F-9DEEA2B70584" DiskId="1">
							<File Id="ru_ru.xml" Name="ru-ru.xml" Source="$(var.SourcePath)lang\ru-ru.xml" KeyPath="yes" />
						</Component>
						<Component Id="Zh_cnXml" Guid="6509792C-2A19-4361-B84B-A3621BB23BF4" DiskId="1">
							<File Id="zh_cn.xml" Name="zh-cn.xml" Source="$(var.SourcePath)lang\zh-cn.xml" KeyPath="yes" />
						</Component>
						<Component Id="Zh_twXml" Guid="439C0E32-3F36-40AA-917F-8BFC9146153E" DiskId="1">
							<File Id="zh_tw.xml" Name="zh-tw.xml" Source="$(var.SourcePath)lang\zh-tw.xml" KeyPath="yes" />
						</Component>
					</Directory>
					<Component Id="InteropIWshRuntimeLibraryDll" Guid="42B1E3EC-2869-4DD1-90BE-35E6A3D3342E" DiskId="1">
						<File Id="Interop.IWshRuntimeLibrary.dll" Name="Interop.IWshRuntimeLibrary.dll" Source="$(var.SourcePath)Interop.IWshRuntimeLibrary.dll" KeyPath="yes" />
					</Component>
					<Component Id="MessageBoxHookDll" Guid="F595F608-26B0-4A7F-B99B-E29C98A1780F" DiskId="1">
						<File Id="MessageBoxHook.dll" Name="MessageBoxHook.dll" Source="$(var.SourcePath)MessageBoxHook.dll" KeyPath="yes" />
					</Component>
					<Component Id="AppModuleGlobalsDll" Guid="821EC17F-974F-4CC0-A3E5-0FE0A2768543" DiskId="1">
						<File Id="AppModule.Globals.dll" Name="AppModule.Globals.dll" Source="$(var.SourcePath)AppModule.Globals.dll" KeyPath="yes" />
					</Component>
					<Component Id="AppModuleInterProcessCommDll" Guid="7DA763E4-456F-4083-9645-DF7FA743C7CA" DiskId="1">
						<File Id="AppModule.InterProcessComm.dll" Name="AppModule.InterProcessComm.dll" Source="$(var.SourcePath)AppModule.InterProcessComm.dll" KeyPath="yes" />
					</Component>
					<Component Id="AppModuleNamedPipesDll" Guid="DEAD34DD-593F-45C9-9514-4C2426330F36" DiskId="1">
						<File Id="AppModule.NamedPipes.dll" Name="AppModule.NamedPipes.dll" Source="$(var.SourcePath)AppModule.NamedPipes.dll" KeyPath="yes" />
					</Component>
					<Component Id="Net_Profiles_modExe" Guid="10F78F23-24F6-407A-AA6A-E01D8E4B5320" DiskId="1">
						<File Id="Net_Profiles_mod.exe" Name="$(var.ProductName).exe" Source="$(var.SourcePath)$(var.ProductName).exe" KeyPath="yes" />
					</Component>
					<Component Id="ServiceExe" Guid="30AA7CCB-D663-4D97-9C48-93C733F20D8B" DiskId="1">
						<File Id="Service.exe" Name="Service.exe" Source="$(var.ServiceSourcePath)Service.exe" KeyPath="yes" />
						<ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="Net Profiles mod" ErrorControl="normal"
							Description="Helper for TCP/IP settings" Start="auto" Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" />
						<ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="Net Profiles mod" Wait="yes" />
					</Component>
					<Component Id="COPYINGTxt" Guid="8C3EA1FC-5D84-434D-AC30-EE7FFDC76D77" DiskId="1">
						<File Id="COPYING.txt" Name="COPYING.txt" Source="$(var.SourcePath)COPYING.txt" KeyPath="yes" />
					</Component>
					<Directory Id="MessageBoxManager" Name="MessageBoxManager">
						<Component Id="MessageBoxManagerLicenseTxt" Guid="4B3CAA7A-531D-48F2-864C-064548917588" DiskId="1">
							<File Id="License.txt" Name="License.txt" Source="$(var.SourcePath)MessageBoxManager\License.txt" KeyPath="yes" />
						</Component>
						<Component Id="MessageBoxManagerReadmeTxt" Guid="4A9244E5-C82E-4C12-AD1A-EEC356E1C7F9" DiskId="1">
							<File Id="Readme.txt" Name="Readme.txt" Source="$(var.SourcePath)MessageBoxManager\Readme.txt" KeyPath="yes" />
						</Component>
					</Directory>
					<Directory Id="Microsoft.VC80.CRT" Name="Microsoft.VC80.CRT">
						<Component Id="MicrosoftVC80CRTManifest" Guid="FB8B9134-6CD7-4EF2-AA6D-0296DF9C3302" DiskId="1">
							<File Id="Microsoft.VC80.CRT.manifest" Name="Microsoft.VC80.CRT.manifest" Source="$(var.VC80_CRT_SourcePath)Microsoft.VC80.CRT\Microsoft.VC80.CRT.manifest" KeyPath="yes" />
						</Component>
						<Component Id="Msvcm80Dll" Guid="9DF12B20-9717-4216-B172-CD739558B330" DiskId="1">
							<File Id="msvcm80.dll" Name="msvcm80.dll" Source="$(var.VC80_CRT_SourcePath)Microsoft.VC80.CRT\msvcm80.dll" KeyPath="yes" />
						</Component>
						<Component Id="Msvcp80Dll" Guid="963A2850-9C60-4A65-A403-E5E4F3C85865" DiskId="1">
							<File Id="msvcp80.dll" Name="msvcp80.dll" Source="$(var.VC80_CRT_SourcePath)Microsoft.VC80.CRT\msvcp80.dll" KeyPath="yes" />
						</Component>
						<Component Id="Msvcr80Dll" Guid="D5922F0C-498E-4F27-B9A6-A610A6DE8669" DiskId="1">
							<File Id="msvcr80.dll" Name="msvcr80.dll" Source="$(var.VC80_CRT_SourcePath)Microsoft.VC80.CRT\msvcr80.dll" KeyPath="yes" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
		    <Component Id="ApplicationShortcut" Guid="874B75C6-E263-45DB-A6F0-C1703D1BB206">
		        <Shortcut Id="ApplicationStartMenuShortcut" 
		                  Name="$(var.ProductName)"
		                  Description="$(var.ProductName)"
		                  Target="[INSTALLDIR]$(var.ProductName).exe"
		                  WorkingDirectory="INSTALLDIR"/>
		        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
		        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
		    </Component>
		</DirectoryRef>
		
		<DirectoryRef Id="ApplicationCommonAppDataFolder">
			<Component Id="ApplicationCommonAppDataFolderCreation" Guid="82703F5C-F1FF-4545-9EBA-A4DCEB82E4FD">
            	<CreateFolder />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="ProfilesFolder">
			<Component Id="ProfilesFolderCreation" Guid="6E28CA8D-DAE9-4F81-AB36-BF813CE78A3B">
            	<CreateFolder />
			</Component>
		</DirectoryRef>
		
		<Icon Id="icon.ico" SourceFile="$(var.SourcePath)icons\netprofiles4.ico"/>
	</Fragment>
</Wix>
